.lash__tips {
	width: 100%;
}

.lash__tips__rows {
	width: 100%;
}

.lashTipsTitleWrapper {
	height: 20rem;
	padding: 2rem;
}

.lashTipsTitleWrapper h2 {
	transform: translateY(100%);
}

.lash__tips__cols {
	position: relative;
	height: 20rem;
}

.lash__tips__cols__content {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
}

.lash__tips__cols__content p {
	max-width: 475px;
	max-height: 115px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	line-clamp: 4;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
}

.lash__tips__cols__content__copy {
	max-width: 500px;
	margin: 0 auto;
}

.lash__tips__cols__content__link__text:hover,
.lash__tips__cols__content__copy:hover {
	cursor: pointer !important;
	// transform: scale(1.5);
}
