// CSS for the Posts component in components/Posts.tsx.

// @import 'scss/variables';

.posts__row__cards {
	height: 300px;
	position: sticky;
	top: 0;
	z-index: auto;
}

@media (min-width: 768px) {
	.posts__row__cards:hover {
		transition: 0.32s ease-out;
		transform: scale(1.05);
		border-radius: 5px;
		box-shadow: 1px 0px 8px rgba(0, 0, 0, 0.3);
		z-index: 1;
		cursor: pointer;
	}
}

@media (max-width: 768px) {
	.posts__row__cards {
		height: 250px;
		position: sticky;
		top: 0;
		z-index: auto;
	}
}
