// ****************
// ****************
// Wordpress Styles
// ****************
// ****************
.has-regular-font-size {
	font-size: 1em;
}

.has-larger-font-size {
	font-size: 2.625em;
}

.has-normal-font-size {
	font-size: var(--wp--preset--font-size--normal);
}

.has-huge-font-size {
	font-size: var(--wp--preset--font-size--huge);
}

.has-text-align-center {
	text-align: center;
}

.has-text-align-left {
	text-align: left;
}

.has-text-align-right {
	text-align: right;
}

#end-resizable-editor-section {
	display: none;
}

.aligncenter {
	clear: both;
}

.items-justified-left {
	justify-content: flex-start;
}

.items-justified-center {
	justify-content: center;
}

.items-justified-right {
	justify-content: flex-end;
}

.items-justified-space-between {
	justify-content: space-between;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	word-wrap: normal !important;
	border: 0;
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.screen-reader-text:focus {
	clip: auto !important;
	background-color: #ddd;
	-webkit-clip-path: none;
	clip-path: none;
	color: #444;
	display: block;
	font-size: 1em;
	height: auto;
	line-height: normal;
	padding: 15px 23px 14px;
	right: 5px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

.wp-block-quote {
	box-sizing: border-box;
	overflow-wrap: break-word;
}
.wp-block-quote.is-large:where(:not(.is-style-plain)),
.wp-block-quote.is-style-large:where(:not(.is-style-plain)) {
	margin-bottom: 1em;
	padding: 0 1em;
}
.wp-block-quote.is-large:where(:not(.is-style-plain)) p,
.wp-block-quote.is-style-large:where(:not(.is-style-plain)) p {
	font-size: 1.5em;
	font-style: italic;
	line-height: 1.6;
}
.wp-block-quote.is-large:where(:not(.is-style-plain)) cite,
.wp-block-quote.is-large:where(:not(.is-style-plain)) footer,
.wp-block-quote.is-style-large:where(:not(.is-style-plain)) cite,
.wp-block-quote.is-style-large:where(:not(.is-style-plain)) footer {
	font-size: 1.125em;
	text-align: left;
}

.wp-block-media-text__media {
	position: relative;
}
.wp-block-media-text__media.is-transient img {
	opacity: 0.3;
}
.wp-block-media-text__media .components-spinner {
	margin-right: -9px;
	margin-top: -9px;
	position: absolute;
	right: 50%;
	top: 50%;
}

.wp-block-media-text .__resizable_base__ {
	grid-column: 1 / span 2;
	grid-row: 2;
}

.wp-block-media-text .editor-media-container__resizer {
	width: 100% !important;
}

.wp-block-media-text.is-image-fill .editor-media-container__resizer {
	height: 100% !important;
}

.wp-block-media-text
	> .block-editor-block-list__layout
	> .block-editor-block-list__block {
	max-width: unset;
}
